<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Sentiment Prediction</title>
  
</head>

<body style="background: #f5eded;">
 <div class="login" style="text-align: center;">
	<h1 style="color:rgb(23, 38, 137);">Sentiment prediction</h1>

     <!-- Action is where the data is sent. In our case, predict page.
     If action is omitted, it assumed to be the current page -->
    <form action="{{url_for('show_prediction')}}" method="post">
    	<input type="text" name="comment_text" style="width: 500px; height: 100px;" placeholder="نظر خود را در مورد یک موضوع دلخواه بنویسید" required="required" /><br>
        <br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">تشخیص معنا</button></p>
    </form>

   <br>
   <br>
   <p style="color:rgb(23, 38, 137);" dir="rtl">{{ input_comment }}</p>
   <h4 style="color:rgb(23, 38, 137);">{{ prediction_text }}</h4>

 </div>


</body>
</html>
